#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-instant-confirm {
  max-height: 180px;
}

.height-browser-icon {
  max-height: 160px;
}

.border-b {
  border-bottom: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  padding-bottom: 1rem;
}

.border-b:last-child {
  border-bottom-width: 0px;
}
.about_wrapper {
  width: 100%; /* Default for all screen sizes */
}

@media only screen and (min-width: 768px) {
  .accordion-mb .border-b {
    border-bottom-width: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .it_works_card {
    margin-bottom: 1.4rem;
  }
  .it_works_card:last-child {
    margin-bottom: 0px;
  }

  .accordion-mb {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .nav-header .mobile {
    display: none;
  }
  .about_wrapper {
    width: 820px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-header .web {
    display: none;
  }
}
